:root{
    --primary-color: #eb4d4b;
    --secondary-color: #383838;
    --accent-color-1: #95afc0;
    --accent-color-2: #c7ecee;

}

body{
    background-color: var(--accent-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.window{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 55vh;
    width: 80vh;
    background-color: var(--accent-color-2);
    text-align: center;
    box-shadow: 10px 10px 5px #a8a8a8;
    border-radius: 10px;
}

.hidden{
    display: none;
}
/* Quiz */

.answer{
    flex-grow: 1;
    margin: 5px 15px 5px 15px;
    border: 1px solid var(--secondary-color);
    cursor:pointer;
    background-color: #fff;
    color: var(--secondary-color);
    ;
}


/* Leaderboard */
.leaderboard{
    display: flex;
    height: 55vh;
    width: 80vh;
    background-color: var(--accent-color-2);
    text-align: center;
    box-shadow: 10px 10px 5px #a8a8a8;
    border-radius: 10px;
    display:none;

}
.leader-list{
margin-top: 20px}

.leader-list li{
    color: var(--secondary-color);
    list-style-type: none;

}






/* ID Specific Elements */
#timer-display{
    text-align: center;
}

#start-button{
    margin: 20px;
    width: 20%;
    align-self: center;
}

#save-button{
    margin: 20px;
    width: 20%;
    display: none;
    align-self: center;

}

#section-text{
    margin: 10px;
    font-size: 1em;
}

#section-head{
    margin: 10px;
    font-size: 2em;
}

#answer-display{
    list-style-type: none;
    padding: 0px;
}

#initials{
    width: 25%;
    align-self: center;
}

#view-leaderboard{
    margin-bottom: 15px;
    opacity: 75%;
}


